body,
button {
    font-family: "Datatype", monospace;
}

.calculator {
    box-sizing: border-box;

    width: 750px;
    height: 500px;

    margin: 40px auto;
    border: 1px solid black;
    background-color: silver;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 18px
}

.display {
    box-sizing: border-box;

    flex: 1;

    border: 1px solid black;
    background-color: white;
    padding: 8px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 48px;
}

.buttons {
    flex: 5;

    padding: 12px;

    display: flex;
    gap: 16px;
}

.numbers,
.operators,
.edit {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.numbers {
    flex: 6;
    padding: 8px;
    background-color: darkgray;
}

.operators {
    flex: 2;
}

.edit {
    flex: 1;
}

.numbers-row,
.zero-row {
    flex: 1;
    display: flex;
    gap: 8px;
}

button {
    flex: 1;
}